@charset "UTF-8";
@import "./nullstyle.css";
@import "./fontawesome.css";
@font-face {
  font-family: "Inconsolata Regular";
  src: url("../fonts/Inconsolata-Regular.eot");
  src: local("☺"), url("../fonts/Inconsolata-Regular.woff") format("woff"), url("../fonts/Inconsolata-Regular.ttf") format("truetype"), url("../fonts/Inconsolata-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata Bold";
  src: url("../fonts/Inconsolata-Bold.eot");
  src: local("☺"), url("../fonts/Inconsolata-Bold.woff") format("woff"), url("../fonts/Inconsolata-Bold.ttf") format("truetype"), url("../fonts/Inconsolata-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins SemiBold";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: local("☺"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto BoldItalic";
  src: url("../fonts/Roboto-BoldItalic.eot");
  src: local("☺"), url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/Roboto-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.eot");
  src: local("☺"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.eot");
  src: local("☺"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
}
.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}
.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}
.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/***-----------------------*/
/*-----------------------*/
::-moz-selection {
  background: #f2c351;
  color: #ffffff;
}
::selection {
  background: #f2c351;
  color: #ffffff;
}

.all {
  width: 100%;
  overflow: hidden;
}

.wrapper {
  position: relative;
  z-index: 1000;
}

.preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1eded;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: all 0.5s ease 0s;
}
.preloader__pixova {
  text-transform: uppercase;
  margin: 0px 0px 150px 0px;
  transform: translate(0px, 1000%);
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.preloader__pixova.transparent {
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}
.preloader__pixova-lite {
  font-family: "Roboto regular";
  font-size: 24px;
}
.preloader__wrap {
  margin-top: 50px;
  max-width: 15%;
  transform: translate(0px, 200%);
  transition: all 0.5s ease 1s;
  opacity: 0;
  visibility: hidden;
}
.preloader__wrap.transparent {
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}
.preloader__wrap > img {
  max-width: 100%;
  max-height: 100%;
}

.preloader.transparent {
  transform: translate(0, -100%);
}

.header {
  background-color: #fff;
  color: #000000;
  position: relative;
  transition: all 0.2s ease;
  z-index: 30;
  position: fixed;
  width: 100%;
}
.header__title {
  padding: 25px 0px 25px 0px;
  margin: 0px 44px;
  text-transform: uppercase;
  font-family: "Roboto Regular";
  font-size: 22px;
}
.header__title-inner {
  color: #000000;
}
.header__title-inner:hover {
  color: #f2c351;
}
.header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__menu-list {
  display: inline-flex;
}
.header__menu-custom {
  text-transform: uppercase;
  font-family: "Roboto Medium";
  opacity: 0.75;
  font-size: 13px;
  margin-left: 20px;
}
.header__menu-burger {
  position: absolute;
  top: 15px;
  right: 60px;
  padding: 20px 55px 30px 10px;
  display: none;
}
.header__burger {
  color: #000000;
  margin-right: 44px;
}
.header__burger:hover {
  opacity: 0.75;
}
.header__menu-visible {
  display: flex;
  justify-content: flex-end;
}
.header__menu-visible:hover .header__menu-burger {
  display: block;
}

.section {
  width: 100%;
  height: 90vh;
  padding-top: 72px;
  background: url(../img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 85%;
}
.section__intro {
  font-family: "Roboto Bold";
  font-size: 37px;
  padding-bottom: 40px;
  margin: 70px 0px 50px 0px;
  color: #f2c351;
  text-transform: uppercase;
  position: relative;
}
.section__intro::after {
  content: "";
  width: 75px;
  height: 4px;
  background-color: #f2c351;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-left: -37.5px;
}
.section__intro-text {
  font-family: "Poppins SemiBold";
  font-size: 55px;
  color: #ffffff;
  padding: 0px 20px;
  margin-bottom: 15px;
}
.section__text-inner {
  font-family: "Roboto Regular";
  font-size: 20px;
  line-height: 1.75;
  color: #ffffff;
  opacity: 0.75;
  margin-bottom: 35px;
}
.section__text-margin {
  margin-bottom: 35px;
}
.section__text-decoration {
  text-decoration: underline;
}
.section__btn {
  font-family: "Roboto Medium";
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section__btn-info {
  color: #ffffff;
  border: 2px solid;
  border-radius: 40px;
  padding: 20px 40px;
  margin-right: 25px;
}
.section__btn-info:hover {
  color: #f2c351;
}
.section__btn-contact {
  color: #ffffff;
  border: 2px solid #f2c351;
  border-radius: 40px;
  padding: 20px 40px;
  background-color: #f2c351;
}
.section__btn-contact:hover {
  background-color: #ffdf55;
}

.second {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
  transform: translate(0px, 30%);
  opacity: 0;
  border-bottom: 1px solid #e3e3e3;
  transition: all 1s ease;
}
.second__container {
  font-family: "Poppins SemiBold";
  font-size: 30px;
}
.second__intro {
  margin-bottom: 65px;
  line-height: 1.4;
}
.second__title {
  color: #222533;
  margin-bottom: 5px;
  padding-bottom: 20px;
  position: relative;
}
.second__title::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 66px;
  height: 3px;
  background-color: #f2c351;
  margin-left: -33px;
}
.second__label {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #333;
}
.second__content {
  font-family: "Roboto Regular";
  color: #333;
  width: 85%;
  margin: 0 auto;
}
.second__text {
  font-size: 15px;
  line-height: 1.8;
}
.second__text-inner {
  background: #ffffff;
  border-left: 5px solid #f2c351;
  margin: 20px 10px;
  padding: 5px 10px;
  font-size: 16px;
  color: #363636;
  line-height: 1.8;
}
.second__wrapper {
  display: flex;
  width: 100%;
}
.second__wrapper-colum {
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: #333333;
  width: 25%;
  margin-bottom: 30px;
  padding: 20px 0px;
}
.second__canvas-graph {
  position: relative;
  color: #33333385;
}
.second__elements-size {
  font-size: 25px;
  color: #000000;
  opacity: 0;
}

.third {
  background-color: #f0f0f0;
  padding: 30px 0px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.third__background {
  background-color: #f0f0f0;
  transform: translate(-90%, 0px);
  opacity: 0;
  transition: all 1s ease;
}
.third__container {
  font-family: "Poppins SemiBold";
  font-size: 30px;
}
.third__intro {
  margin-bottom: 65px;
  line-height: 1.4;
}
.third__title {
  color: #222533;
  margin-bottom: 5px;
  padding-bottom: 20px;
  position: relative;
}
.third__title::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 66px;
  height: 3px;
  background-color: #f2c351;
  margin-left: -33px;
}
.third__label {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #333;
}
.third__content {
  max-width: 85%;
  margin: 0 auto;
  display: inline-flex;
}
.third__elements {
  position: relative;
}
.third__elements::before {
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  left: 0;
}
.third__elements:hover:before {
  opacity: 1;
  visibility: visible;
}
.third__elements:hover .third__logo-background {
  background: rgba(0, 0, 0, 0);
}
.third__elements:hover .third__logo-icon {
  bottom: 55%;
  margin-bottom: -18px;
  opacity: 1;
  visibility: visible;
}
.third__elements > img {
  display: block;
  width: 100%;
}
.third__logo-background {
  bottom: 0;
  color: #1b1b1b;
  font-size: 24px;
  height: 115px;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.third__logo-background::before {
  content: " ";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  background-color: #fff0;
}
.third__logo-background img {
  height: auto;
  max-width: 187px;
  vertical-align: middle;
  max-height: 100%;
}
.third__logo-icon {
  bottom: 115px;
  color: #fff;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  width: 100%;
  text-align: center;
}
.third__logo-link {
  color: #fff;
  position: relative;
}
.third__logo-desc {
  background: rgba(27, 27, 27, 0.9);
  padding: 10px;
  font-size: 11px;
  margin-left: 5px;
  text-transform: uppercase;
  font-family: "Roboto Regular";
}
.third__logo-desc:hover:before {
  content: "";
}
.third__logo-desc:hover:after {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 0;
  z-index: -1;
}

.fourth {
  background-color: #ffffff;
  width: 100%;
  padding: 60px 0px;
  margin: 0 auto;
  text-align: center;
  transform: translate(90%, 0px);
  opacity: 0;
  transition: all 1s ease;
}
.fourth__container {
  font-family: "Poppins SemiBold";
  font-size: 30px;
}
.fourth__intro {
  margin-bottom: 65px;
  line-height: 1.4;
}
.fourth__title {
  color: #222533;
  margin-bottom: 5px;
  padding-bottom: 20px;
  position: relative;
}
.fourth__title::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 66px;
  height: 3px;
  background-color: #f2c351;
  margin-left: -33px;
}
.fourth__label {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #333;
}
.fourth__wrapper-slider {
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.fourth__items-slider {
  position: relative;
  display: flex;
  overflow: hidden;
  margin-left: 35px;
}
.fourth__content-slider {
  visibility: hidden;
  opacity: 1;
  min-width: 85%;
  justify-content: center;
}
.fourth__content-foto > img {
  border: 5px solid #f8f8f8;
  border-radius: 50%;
  max-width: 138px;
  max-height: 138px;
  width: 138px;
  height: 138px;
  margin: 0 auto;
}
.fourth__content-inner {
  font-family: "Roboto Italic";
  padding-top: 20px;
  text-align: center;
}
.fourth__content-text {
  color: #363636;
  line-height: 1.8;
  font-size: 18px;
}
.fourth__content-name {
  color: #f2c351;
  font-family: "Roboto Regular";
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0px 5px 0px;
}
.fourth__slider-button {
  padding-top: 20px;
}
.fourth__slider-push {
  position: absolute;
  right: 47%;
  top: 100%;
  cursor: pointer;
  margin-left: 10px;
}
.fourth__slider-prev {
  position: absolute;
  left: 47%;
  top: 100%;
  cursor: pointer;
  margin-left: 10px;
}

.fifth {
  width: 100%;
  background-color: #ffffff;
  padding: 30px 0px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  transform: translate(90%, 0px);
  opacity: 0;
  transition: all 1s ease;
}
.fifth__container {
  font-family: "Poppins SemiBold";
  font-size: 30px;
}
.fifth__intro {
  margin-bottom: 65px;
  line-height: 1.4;
}
.fifth__title {
  color: #222533;
  margin-bottom: 5px;
  padding-bottom: 20px;
  position: relative;
}
.fifth__title::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 66px;
  height: 3px;
  background-color: #f2c351;
  margin-left: -33px;
}
.fifth__label {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #333;
}
.fifth__content {
  max-width: 85%;
  margin: 0 20px;
  position: relative;
  overflow: hidden;
}
.fifth__content-inner {
  display: flex;
  position: relative;
  max-width: 100%;
  transition: all 0.5s ease;
}
.fifth__content-item {
  flex-direction: column;
  max-width: 25%;
  padding: 0px 10px 0px 10px;
}
.fifth__content-item:hover {
  opacity: 0.9;
}
.fifth__picture > img {
  width: 100%;
}
.fifth__text {
  color: #333;
  padding: 25px 0 50px 25px;
}
.fifth__text-head {
  font-family: "Roboto Regular";
  font-size: 14px;
  color: #f2c351;
}
.fifth__text-middle {
  font-family: "Poppins SemiBold";
  font-size: 20px;
  color: #333;
}
.fifth__text-middle:hover {
  color: #f2c351;
}
.fifth__margin {
  margin-bottom: 40px;
  margin-top: 15px;
}
.fifth__text-low {
  padding: 0px 8px;
  font-size: 15px;
  line-height: 27px;
  color: #777;
}
.fifth__slider-button {
  padding-top: 20px;
}
.fifth__slider-prev-btn {
  position: absolute;
  left: 10%;
  top: 50%;
  cursor: pointer;
}
.fifth__slider-next-btn {
  position: absolute;
  right: 10%;
  top: 50%;
  cursor: pointer;
}

.sixth {
  width: 100%;
  background-color: #ffffff;
  padding: 30px 0px;
  margin: 0 auto;
  text-align: center;
  transform: translate(0px, 30%);
  opacity: 0;
  transition: all 1s ease;
}
.sixth__container {
  font-family: "Poppins SemiBold";
  font-size: 30px;
}
.sixth__intro {
  margin-bottom: 65px;
  line-height: 1.4;
}
.sixth__title {
  color: #222533;
  margin-bottom: 5px;
  padding-bottom: 20px;
  position: relative;
}
.sixth__title::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 66px;
  height: 3px;
  background-color: #f2c351;
  margin-left: -33px;
}
.sixth__label {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #333;
}
.sixth__content {
  max-width: 85%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.sixth__content-inner {
  max-width: 25%;
  flex-direction: column;
  font-family: "Roboto Regular";
  font-size: 18px;
  text-transform: capitalize;
  padding: 20px 15px;
  transition: all 0.3s ease;
}
.sixth__content-inner:hover .sixth__wrapper {
  opacity: 1;
  visibility: visible;
}
.sixth__content-inner:hover .sixth__foto > img {
  opacity: 0.75;
  transform: scale(0.9);
}
.sixth__foto > img {
  width: 100%;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.sixth__name {
  margin-bottom: 15px;
  color: #333333;
}
.sixth__wrapper {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
  max-width: 125px;
  padding: 10px 10px;
  background-color: #363636;
  border-radius: 5px;
  position: relative;
}
.sixth__wrapper::before {
  border-bottom: 6px solid #363636;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  top: -6px;
  width: 0;
}
.sixth__social {
  margin: 0px 7px 0px 5px;
}
.sixth__socials-icon {
  transition: all 0.3s ease;
  color: #ffffff;
}
.sixth__socials-icon:hover {
  color: #f2c351;
}

.seventh {
  width: 100%;
  background-color: #ffffff;
  padding: 30px 0px;
  margin: 0 auto;
  text-align: center;
  background-color: #f0f0f0;
}
.seventh__background {
  transform: translate(90%, 0px);
  opacity: 0;
  transition: all 1s ease;
}
.seventh__container {
  font-family: "Poppins SemiBold";
  font-size: 30px;
}
.seventh__intro {
  margin-bottom: 65px;
  line-height: 1.4;
}
.seventh__title {
  color: #222533;
  margin-bottom: 5px;
  padding-bottom: 20px;
  position: relative;
}
.seventh__title::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 66px;
  height: 3px;
  background-color: #f2c351;
  margin-left: -33px;
}
.seventh__label {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #333;
}
.seventh__content {
  max-width: 85%;
  padding: 0px 40px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}
.seventh__content-inner {
  flex: 1;
  width: 25%;
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #777777;
  text-align: left;
}
.seventh__address {
  font-size: 21px;
  color: #363636;
  margin-bottom: 10px;
}
.seventh__street {
  margin-bottom: 45px;
  line-height: 1.8;
}
.seventh__phone {
  line-height: 1.8;
}
.seventh__mail {
  line-height: 1.8;
}
.seventh__content-form {
  flex: 3;
  text-align: left;
}
.seventh__contact-form._sending::after {
  opacity: 1;
  visibility: visible;
}
.seventh__contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.seventh__contact-form > textarea {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid rgba(119, 119, 119, 0.63);
  transition: all 0.3s ease 0s;
}
.seventh__contact-form > textarea:focus {
  box-shadow: 0 0 15px #7a956b;
}
.seventh__contact-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.1) url("../img/Loader2.gif") center/100px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.seventh__label {
  display: inline-block;
  padding: 20px 0 5px;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Roboto Regular";
}
.seventh__input {
  background-color: #f0f0f0;
  border: 1px solid rgba(119, 119, 119, 0.63);
  padding: 10px 10px;
  border-style: solid;
  transition: all 0.3s ease 0s;
}
.seventh__input:focus {
  box-shadow: 0 0 15px #7a956b;
}
.seventh__contact-btn {
  width: 100px;
  padding: 10px 0;
  margin-top: 15px;
  color: #fff;
  background-color: #f2c351;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 0;
}
.seventh__contact-btn:active {
  top: 3px;
}

.footer {
  background-color: #313233;
  padding-top: 30px;
  width: 100%;
}
.footer__content {
  max-width: 85%;
  display: flex;
  margin: 0 auto;
}
.footer__items {
  margin: 0px 15px;
  width: 33.3333%;
}
.footer__title {
  font-family: "Roboto Regular";
  font-size: 21px;
  color: white;
}
.footer__text {
  font-family: "Roboto Regular";
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  line-height: 1.8;
}
.footer__row {
  display: inline-flex;
}
.footer__arrow {
  font-family: "Roboto Regular";
  color: #ffffff;
  margin-right: 16px;
  margin-bottom: 12px;
}
.footer__arrow:hover {
  color: #f2c351;
}
.footer__arrow::before {
  content: "→";
  margin-right: 8px;
}
.footer__color {
  font-family: "Roboto Regular";
  color: #ffffff;
  margin-bottom: 5px;
}
.footer__color:hover {
  color: #f2c351;
}
.footer__marg {
  margin-top: 5px;
  margin-bottom: 10px;
}
.footer__content-social {
  margin: 30px 0px;
}
.footer__socials {
  display: flex;
  justify-content: center;
}
.footer__social {
  padding: 5px 10px;
  background-color: #4a4a4a;
  border-radius: 5px;
  margin: 5px;
  color: #ffffff;
}
.footer__social:hover {
  color: #f2c351;
}
.footer__container {
  text-align: center;
  background-color: #1f1f1f;
  border-top: 1px solid #2f2f2f;
  margin-top: 25px;
  padding: 25px 0;
  color: #ffffff;
}
.footer__container-inner {
  font-family: "Roboto Regular";
  font-size: 16px;
}
.footer__color-inner {
  color: #ffffff;
  padding: 0 5px;
}
.footer__color-inner:hover {
  color: #f2c351;
}
.footer__color-heart {
  color: #f2c351;
  margin: 0px 5px;
}

/*-------addEvenListener-----*/
._fixed {
  opacity: 0.9;
  top: 0;
  margin-top: 0;
  padding-top: 0;
}

.errors {
  height: 20px;
  color: red;
  padding: 5px 0px;
}

.second._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.third__background._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.fourth._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.fifth._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.sixth._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.seventh__background._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.fourth__content-slider.slider-active {
  opacity: 1;
  visibility: visible;
  margin-left: 80px;
  margin-right: 60px;
  position: absolute;
  left: 0;
}

/*---------------------*/
@media (min-width: 1200px) {
  .fifth__content {
    overflow: hidden;
    margin: 0 auto;
    max-width: 70%;
    margin: 0 auto;
  }

  .fifth__content-inner {
    display: flex;
    transition: all 1s ease 0s;
  }

  .fifth__content-item {
    max-width: 50%;
  }

  .fifth__picture > img {
    width: 510px;
  }

  .fifth__slider-prev {
    left: 0;
  }

  .fifth__slider-push {
    right: 0;
  }
}/*# sourceMappingURL=style.css.map */